html {
  background-color: gray;
}

#tape {
  position: absolute;
  background-color: red;
  font-size: 100px;
  font-family:'Courier New';
  &::after {
    content: "$" var(--output-cells) "€";
  }
}

#info {
  position: absolute;
  margin-top: 120px;
  background-color: blue;
  font-size: 50px;
  &::after {
    counter-reset: w var(--width-1) h var(--height) p var(--cell-cur-total) q var(--pos);
    content: "width:" counter(w) ", height:" counter(h) ", cur:" counter(p) ", pos:" counter(q);
  }
}

#signal {
  position: absolute;
  top: 190px;
  background-color: green;
  font-size: 50px;
  &::after {
    counter-reset: w var(--width-2);
    content: "width:" counter(w);
  }
}

#run {
  position: absolute;
  margin-top: 250px;
}

#run-label {
  position: absolute;
  margin-top: 248px;
  margin-left: 25px;
}

#reset {
  position: absolute;
  margin-top: 270px;
}