#tape {
  position: absolute;
  background-color: red;
  font-size: 50px;
  &::after {
    content: var(--output-cells);
  }
}

#info {
  position: absolute;
  margin-top: 60px;
  background-color: blue;
  font-size: 50px;
  &::after {
    counter-reset: p var(--cell-cur) q var(--pos);
    content: "cur:" counter(p) ", pos:" counter(q);
  }
}

#run {
  position: absolute;
  margin-top: 125px;
}

label {
  position: absolute;
  margin-top: 123px;
  margin-left: 25px;
}