:root {
  --num-cells: 3;

  --animation-val-delays:
    calc(var(--initial-cell-1) * -1s),
    calc(var(--initial-cell-2) * -1s),
    calc(var(--initial-cell-3) * -1s),
  ;

  --animation-no-write-delay: calc(mod(
    var(--initial-cell-1) +
    var(--initial-cell-2) +
    var(--initial-cell-3) +
  0, 2) * -1s);
  
  --cell-1: var(--zero);
  --cell-2: var(--zero);
  --cell-3: var(--zero);
  
  --output-cell-1: "0";
  --output-cell-2: "0";
  --output-cell-3: "0";
  
  --val-cell-1: 0;
  --val-cell-2: 0;
  --val-cell-3: 0;
  
  --active-val: mod(calc(
    var(--val-cell-1) +
    var(--val-cell-2) +
    var(--val-cell-3) +
  var(--no-write)), 2);
  
  --selection-val-1: paused;
  --selection-val-2: paused;
  --selection-val-3: paused;
  
  --animation-val-play-states:
    var(--selection-val-1),
    var(--selection-val-2),
    var(--selection-val-3),
  ;
  
  --animation-val:
    animation-val-1,
    animation-val-2,
    animation-val-3,
  ;

  --animation-cell-delay:
    0s,
    0s,
    0s,
  ;
  
  --animation-cell-duration:
    2s,
    2s,
    2s,
  ;
  
  --animation-cell-timing-function:
    steps(2),
    steps(2),
    steps(2),
  ;
  
  --active-pos-1: 0;
  --active-pos-2: 0;
  --active-pos-3: 0;
  
  --active-pos: calc(
    var(--active-pos-1) +
    var(--active-pos-2) +
    var(--active-pos-3) +
  0);
  
  --selection-pos-1: paused;
  --selection-pos-2: paused;
  --selection-pos-3: paused;
  
  --animation-pos-play-states:
    var(--selection-pos-1),
    var(--selection-pos-2),
    var(--selection-pos-3),
  ;
  
  --animation-pos:
    animation-pos-1,
    animation-pos-2,
    animation-pos-3,
  ;
}

.child {
  --output-cells:
    var(--output-cell-1)
    var(--output-cell-2)
    var(--output-cell-3)
  ;
}

@keyframes animation-val-1 {to {--cell-1: var(--one); --val-cell-1: 1; --output-cell-1: "1"; --write-pos: 1;}}
@keyframes animation-val-2 {to {--cell-2: var(--one); --val-cell-2: 1; --output-cell-2: "1"; --write-pos: 2;}}
@keyframes animation-val-3 {to {--cell-3: var(--one); --val-cell-3: 1; --output-cell-3: "1"; --write-pos: 3;}}

@container (width: 1px) and (height: 1px) {.child {--selection-val-1: running;}}
@container (width: 2px) and (height: 1px) {.child {--selection-val-2: running;}}
@container (width: 3px) and (height: 1px) {.child {--selection-val-3: running;}}

@container (width: 0px) and (height: 1px) {.child {--no-write-play-state: running;}}

@keyframes animation-pos-1 {to {--pos: 1; --cell-cur: var(--cell-1); --active-pos-1: 1;}}
@keyframes animation-pos-2 {to {--pos: 2; --cell-cur: var(--cell-2); --active-pos-2: 1;}}
@keyframes animation-pos-3 {to {--pos: 3; --cell-cur: var(--cell-3); --active-pos-3: 1;}}

@container (width: 1px) and (height: 2px) {.child {--selection-pos-1: running;}}
@container (width: 2px) and (height: 2px) {.child {--selection-pos-2: running;}}
@container (width: 3px) and (height: 2px) {.child {--selection-pos-3: running;}}