:root {
  --num-cells: 3;

  --animation-val-1: animation-initial-val-1, animation-val-1,;
  --animation-val-2: animation-initial-val-2, animation-val-2,;
  --animation-val-3: animation-initial-val-3, animation-val-3,;

  --selection-val-1: paused;
  --selection-val-2: paused;
  --selection-val-3: paused;

  --selection-pos-end: paused;
  --setup-play: paused;
  
  --activate-initial-1: 0;
  --activate-initial-2: 0;
  --activate-initial-3: 0;

  --default-cell-1: 0;
  --default-cell-2: 0;
  --default-cell-3: 0;

  --animation-pos:
    animation-pos-1,
    animation-pos-2,
    animation-pos-3,
  animation-pos-end,;
  
  --selection-pos-1: paused;
  --selection-pos-2: paused;
  --selection-pos-3: paused;
}

.child {
  --animation-val:
    var(--animation-val-1)
    var(--animation-val-2)
    var(--animation-val-3)
  ;

  --animation-val-play-states:
    var(--setup-play), var(--selection-val-1),
    var(--setup-play), var(--selection-val-2),
    var(--setup-play), var(--selection-val-3),
  ;

  --cell-1: calc(var(--initial-cell-1) * var(--activate-initial-1) + var(--default-cell-1));
  --cell-2: calc(var(--initial-cell-2) * var(--activate-initial-2) + var(--default-cell-2));
  --cell-3: calc(var(--initial-cell-3) * var(--activate-initial-3) + var(--default-cell-3));

  counter-reset:
    output-cell-1 var(--cell-1)
    output-cell-2 var(--cell-2)
    output-cell-3 var(--cell-3)
  ;

  --output-cells:
    counter(output-cell-1)
    counter(output-cell-2)
    counter(output-cell-3)
  ;

  --animation-pos-play-states:
    var(--selection-pos-1),
    var(--selection-pos-2),
    var(--selection-pos-3),
  var(--selection-pos-end),;
}

@keyframes animation-initial-val-1 {0.1% {--activate-initial-1: 1;}}
@keyframes animation-initial-val-2 {0.1% {--activate-initial-2: 1;}}
@keyframes animation-initial-val-3 {0.1% {--activate-initial-3: 1;}}

@keyframes animation-val-1 {10% {--default-cell-1: 1;}}
@keyframes animation-val-2 {10% {--default-cell-2: 1;}}
@keyframes animation-val-3 {10% {--default-cell-3: 1;}}

/* resets selected value for write */
@container (width: 1px) and (height: 3px) {#child-1 {--animation-val-1: ;}}
@container (width: 2px) and (height: 3px) {#child-1 {--animation-val-2: ;}}
@container (width: 3px) and (height: 3px) {#child-1 {--animation-val-3: ;}}

/* writes selected value */
@container (width: 1px) and (height: 4px) {#child-1 {--selection-val-1: running;}}
@container (width: 2px) and (height: 4px) {#child-1 {--selection-val-2: running;}}
@container (width: 3px) and (height: 4px) {#child-1 {--selection-val-3: running;}}

@keyframes animation-pos-1 {10% {--pos: 1; --cell-cur: calc(var(--cell-1) * 1);}}
@keyframes animation-pos-2 {10% {--pos: 2; --cell-cur: var(--cell-2);}}
@keyframes animation-pos-3 {10% {--pos: 3; --cell-cur: var(--cell-3);}}
@keyframes animation-pos-end {10% {--pos: 4; --cell-cur: 0;}}

@container (width: 1px) and (height: 1px) {#child-2 {--selection-pos-1: running;}}
@container (width: 2px) and (height: 1px) {#child-2 {--selection-pos-2: running;}}
@container (width: 3px) and (height: 1px) {#child-2 {--selection-pos-3: running;}}
@container (width: 4px) and (height: 1px) {#child-2 {--selection-pos-end: running;}}

@container (width: 1px) and (height: 5px) {#child-1 {--selection-pos-1: running;}}
@container (width: 2px) and (height: 5px) {#child-1 {--selection-pos-2: running;}}
@container (width: 3px) and (height: 5px) {#child-1 {--selection-pos-3: running;}}
@container (width: 4px) and (height: 5px) {#child-1 {--selection-pos-end: running;}}