:root {
  --off-info-next-1: calc(var(--off-dir-1) * 2 + var(--off-val-1));
  --off-info-next-2: calc(var(--off-dir-2) * 2 + var(--off-val-2));
  --off-info-next-3: calc(var(--off-dir-3) * 2 + var(--off-val-3));
  
  --on-info-next-1: calc(var(--on-dir-1) * 2 + var(--on-val-1));
  --on-info-next-2: calc(var(--on-dir-2) * 2 + var(--on-val-2));
  --on-info-next-3: calc(var(--on-dir-3) * 2 + var(--on-val-3));
  
  --start-info-next: 2;
  --end-info-next: 0;

  --selection-state-halt: paused;
  --selection-state-1: paused;
  --selection-state-2: paused;
  --selection-state-3: paused;
  
  --animation-states: animation-state-halt,
    animation-state-1,
    animation-state-2,
    animation-state-3,
  ;
}

.child {
  --animation-state-play-state: var(--selection-state-halt),
    var(--selection-state-1),
    var(--selection-state-2),
    var(--selection-state-3),
  ;
}

@keyframes animation-state-halt {10% {--state-cur: 0; --state-next: 0;/* --info-next: 4;*/}}
@keyframes animation-state-1 {10% {--state-cur: 1; --off-state-next: var(--off-state-next-1); --on-state-next: var(--on-state-next-1); --start-state-next: var(--start-state-next-1); --end-state-next: var(--end-state-next-1); --off-info-next: var(--off-info-next-1); --on-info-next: var(--on-info-next-1);}}
@keyframes animation-state-2 {10% {--state-cur: 2; --off-state-next: var(--off-state-next-2); --on-state-next: var(--on-state-next-2); --start-state-next: var(--start-state-next-2); --end-state-next: var(--end-state-next-2); --off-info-next: var(--off-info-next-2); --on-info-next: var(--on-info-next-2);}}
@keyframes animation-state-3 {10% {--state-cur: 3; --off-state-next: var(--off-state-next-3); --on-state-next: var(--on-state-next-3); --start-state-next: var(--start-state-next-3); --end-state-next: var(--end-state-next-3); --off-info-next: var(--off-info-next-3); --on-info-next: var(--on-info-next-3);}}

@container (width: 0px) and (height: 2px) {#child-2 {--selection-state-halt: running;}}
@container (width: 1px) and (height: 2px) {#child-2 {--selection-state-1: running;}}
@container (width: 2px) and (height: 2px) {#child-2 {--selection-state-2: running;}}
@container (width: 3px) and (height: 2px) {#child-2 {--selection-state-3: running;}}

@container (width: 0px) and (height: 6px) {#child-1 {--selection-state-halt: running;}}
@container (width: 1px) and (height: 6px) {#child-1 {--selection-state-1: running;}}
@container (width: 2px) and (height: 6px) {#child-1 {--selection-state-2: running;}}
@container (width: 3px) and (height: 6px) {#child-1 {--selection-state-3: running;}}