:root {
  --num-states: 3;
  
  --off-info-next-0: calc(var(--off-dir-0) * 2 + var(--off-val-0));
  --off-info-next-1: calc(var(--off-dir-1) * 2 + var(--off-val-1));
  --off-info-next-2: calc(var(--off-dir-2) * 2 + var(--off-val-2));
  
  --on-info-next-0: calc(var(--on-dir-0) * 2 + var(--on-val-0) * -1 + 1);
  --on-info-next-1: calc(var(--on-dir-1) * 2 + var(--on-val-1) * -1 + 1);
  --on-info-next-2: calc(var(--on-dir-2) * 2 + var(--on-val-2) * -1 + 1);
  
  --active-state-0: 0;
  --active-state-1: 0;
  --active-state-2: 0;
  
  --active-state: calc(
    var(--active-state-0) +
    var(--active-state-1) +
    var(--active-state-2) +
  0);
  
  --selection-state-0: paused;
  --selection-state-1: paused;
  --selection-state-2: paused;
  
  --animation-state-play-state:
    var(--selection-state-0),
    var(--selection-state-1),
    var(--selection-state-2),
  ;
  
  --animation-states:
    animation-state-0,
    animation-state-1,
    animation-state-2,
  ;
  
  --animation-state-duration:
    2s,
    2s,
    2s,
  ;
  
  --animation-state-timing-function:
    steps(2),
    steps(2),
    steps(2),
  ;
  
  --dir: calc(mod(var(--info-next) / 2, 2) * 2 - 1);
  --write: mod(var(--info-next), 2);
}

@property --state-next {syntax: "<integer>"; inherits: true; initial-value: 0;}
@property --info-next {syntax: "<integer>"; inherits: true; initial-value: 0;}

@keyframes animation-state-0 {to {--state-cur: 0; --state-next: var(--off-state-next-0); --state-next: var(--cell-cur) var(--on-state-next-0); --info-next: var(--off-info-next-0); --info-next: var(--cell-cur) var(--on-info-next-0); --active-state-0: 1;}}
@keyframes animation-state-1 {to {--state-cur: 1; --state-next: var(--off-state-next-1); --state-next: var(--cell-cur) var(--on-state-next-1); --info-next: var(--off-info-next-0); --info-next: var(--cell-cur) var(--on-info-next-0); --active-state-1: 1;}}
@keyframes animation-state-2 {to {--state-cur: 2; --state-next: var(--off-state-next-2); --state-next: var(--cell-cur) var(--on-state-next-2); --info-next: var(--off-info-next-0); --info-next: var(--cell-cur) var(--on-info-next-0); --active-state-2: 1;}}

@container (width: 0px) and (height: 3px) {.child {--selection-state-0: running;}}
@container (width: 1px) and (height: 3px) {.child {--selection-state-1: running;}}
@container (width: 2px) and (height: 3px) {.child {--selection-state-2: running;}}